#bench {
    font-size: 20px;
    margin-bottom: 30px;
}

#save {
    font-size: 20px;
    height:35px;
    position:relative;
    top:1px;
}

td:nth-child(2) { 
    /* result column */ 
    text-align: center;
    font-size: 30px;
    min-width: 150px;
}

.small td:nth-child(2) { 
    /* result column */ 
    font-size: 10px;
    min-width: 20px;
}

.small {
    margin: 10px;
    border: 1px solid gray;
}
.small td {
    text-align: center;
    border: 1px solid gray;
    font-size: 10px;
    min-width: 20px;
}

#scratch-tps {
    font-size: 8px;
    max-width: 400px;
    margin-top:30px;
    font-family: "Lucida Console", "Courier New", monospace;
    line-height: 10px;
    height:120px;
}

span[onclick] {
    cursor: pointer;
}
